
/* Reset some default styles */
html {
    font-family: Arial, sans-serif;
    font-size: 16px;

    scroll-behavior: smooth;
    
}

body {
    background-color: #00ffff;
    margin: 0; /* Remove default body margin */
}

/* Styles for section with class "types" */
.types {
    background-color: #00ffff; /* Cyan background */
}

.types h1 {
    margin: 20px 40px;
    text-align: center;
    padding: 20px;
    font-size: 24px; /* Increase font size for headings */
    background-color: #f0f8ff;
}

/* Styles for labels */
.labels {
    /* background-color: #8a2be2;  */
    /* Blueviolet background */
    background-color: #00ffff;
    display: block;
    margin: 10px 50px;
    padding: 10px 20px; /* Increased left padding */
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s; /* Add a transition for the transform property */
    border: 5px solid white;
}

.labels:hover {
    transform: scale(1.1); /* Increase the scale on hover (you can adjust the scaling factor) */
}

/* .labels:active {
    border: 5px solid blue;
} */

.labels a{
    text-decoration: none;
    color: black;
}

.labels span{
    font-weight: bold;
    font-size: large;
}

.labels input{
    transform: scale(1.4);
}

/* Styles for buttons */
.button {
    display: flex;
    justify-content: center;
}

.button button {
    height: 50px;
    width: 120px;
    font-weight: bold;
    margin: 30px 10px 0px 10px;
    background-color: #4b0082; /* Dark purple background */
    color: #fff; /* White text color */
    border: none; /* Remove default button border */
    border-radius: 5px;
    cursor: pointer; /* Add pointer cursor for buttons */
    transition: background-color 0.3s; /* Smooth hover effect */
}

.button button:hover {
    background-color: #6a5acd; /* Lighter purple on hover */
}

/* Styles for section with class "details" */

.details h1 {
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    background-color: #f0f8ff;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns: buttons and content */
    gap: 20px; /* Adjust the gap between columns */
    align-items: flex-start; /* Align items at the top */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Buttons on the left side */
}

.dropdown-btn {
    margin: 20px; /* Adjust the space between buttons */
    cursor: pointer;
    background-color: #4b0082; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: #6a5acd;
}

.dropdown-btn h2 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    padding-left: 20px; /* Adjust the space between button and content */
}

.dropdown-content h1{
    margin-left: 0;
}

.dropdown-content.active {
    display: block; /* Show content when active class is applied */
    margin-top: -10px; /* Adjust for spacing */
}

.dropdown-content li {
    list-style-type: circle;
    margin: 5px 5px 5px 20px;
    padding: 5px 50px 5px 5px;
}

.deleteButton{
    border: none;
    background-color: #00ffff;
    /* color: white; */
    font-size: medium;
    cursor: pointer;
    right: 25px;
    position: absolute;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.deleteButton:hover{
    background-color: red;
}

/* Styles for section with class "subType" */
.subType{
    background-color: #f0f8ff;
}

.subType h1 {
    margin: 20px;
    padding: 10px;
    font-size: 24px;
}

.subType form label input {
    margin: 10px;
    padding: 5px; /* Adjust input padding */
}

.subType form label {
    margin: 10px 30px;
}

.subType form button {
    display: block;
    height: 50px;
    width: 120px;
    font-weight: bold;
    margin: 10px 30px;
    background-color: #4b0082; /* Dark purple background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subType form button:hover {
    background-color: #6a5acd;
}

.image{
    /* height: 10%;
    width: 10%; */
    object-fit: cover;
    width: 250px;
    height: 250px;
    position: relative;
    display: block;
    margin: 0 auto; /* This will center the image horizontally */
}


.type-grid{
    display: grid;
    /* grid-template-rows: auto auto auto; */
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
    /* grid-auto-columns: 1fr; */
    align-items: center;
    
}


/* Mobile styles */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .labels {
        padding: 10px; /* Reduce left and right padding */
        margin: 10px 50px;
    }

    .button button {
        width: 80px; /* Reduce button width */
    }


    .grid  {
        padding: 0.3rem; /* Reduce padding */
        grid-template-columns: 1fr 4fr;
    }

    .type-grid{
        grid-template-columns: auto;
        
    }
    
}

@media (max-width: 400px) {
    .image{

        width: 200px;
        height: 200px;
    }

    .labels {
        margin: 10px 20px;
    }

    .subType form button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .subType h1 {
        margin: 0;
    }

    .subType form label {
        margin: 10px 30px 10px 12px;
    }

    .types h1 {
        margin: 20px 10px;
    }

    .details h1 {
        margin: 20px 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto; /* Two columns: buttons and content */
        gap: 20px; /* Adjust the gap between columns */
        align-items: center; /* Align items at the top */
    }

    .dropdown-btn {
        margin: 20px auto;
    }

    .dropdown-content.active{
        padding-left: 0;
    }

    .dropdown-content li {
        margin: 5px 5px 5px 30px;
        padding-right: 50px;
    }

}